link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")

head
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
    link(rel="stylesheet", href="../../stylesheets/login.css")
body#loginForm
    .container
        .login-form
            .main-div
                .panel
                    if info && info.message
                        div.alert.alert-danger
                            = info.message
                    h2 Cambio de contrase単a
                    p Por favor ingresa su contrase単a
                form#login(action="/resetPassword" method="post")
                    input#email(type="hidden" name="email" value= usuario.email)
                    .form-group
                        label(for="pwd") Contrase単a
                        input#pwd.form-control(type="password" name="password" class= errors.password ? 'is-invalid' : '')
                        if errors.password
                            small#passwordHelp.text-danger
                                = errors.password.message
                    .form-group
                        label(for="confirm_pwd") Contrase単a
                        input#confirm_pwd.form-control(type="password" name="confirm_password" class= errors.confirm_password ? 'is-invalid' : '')
                        if errors.confirm_password
                            small#confirm_passwordHelp.text-danger
                                = errors.confirm_password.message

                    button.btn.btn-primary(type="submit") Cambiar